@import url(opens);

body{
    color:white;
    font-family: 'Open Sans', sans-serif;
    text-align:center;
    background-image:url(res/text.wood.jpg);
}

.title{
    font-weight:lighter;
    font-size:30px;
}

#chatArea{
    background-color:rgba(0,0,0,0.8);
    width:100%;
    height:100%;
    overflow-y:auto;
}

#chatArea #chat{
    text-align:left;
    font-size: 12px;
    overflow-y:auto;
    word-break:break-word;
}

.message img{
    vertical-align:bottom;   
}

.message:nth-child(even){
    background-color:rgba(25,64,64,0.3);
}

.message:nth-child(odd){
    background-color:rgba(25,64,64,0.5);
}

#chatAreaWrapper{
     position:absolute;
    top:70px;
    left:0px;
    bottom:0px;
    width:384px;
}

#chatTextArea{
    background-color:#4D4D4D;
    width:384px;
    height:26px;
    position:absolute;
    top:44px;
    left:0px;
}

#chattext{
    width:376px;
    border:none;
    font-family: 'Open Sans', sans-serif;
    background-color:#5E5E5E;
    color:white;
}

#navBar{
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    height:16px;
    background-color:#1F1F1F;
    text-align:left;
    line-height:16px;
    padding-left:5px;
    padding-right:5px;
}

#chatOptions{
    position:absolute;
    top:16px;
    left:0px;
    height:28px;
    width:384px;
    background-color:#363636;
}

#chatOptions button{
    margin:0;
    border:0;
    padding:0;
    height:100%;
    width:19%;
    background-color:#424242;
    color:silver;
}

#chatOptions button[toggled=true]{
    color:lime 
}

#gameArea{
    position:absolute;
    bottom:0px;
    right:0px;
    left:384px;
    top:16px;
    background-color:silver;
    overflow:hidden;
}

#gameCanv{
}